.signin_btn{
    width: 100px;
    height: 30px;
    background: lightblue;
    border: none;
    color: white;
    border-radius: 30px;
}
.signout_btn{
    width: 100px;
    height: 30px;
    background: red;
    color: white;
    border: none;
    border-radius: 30px;
}